.waveDiv {
    position: absolute;
    overflow: hidden;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -999;
}

.wave-content-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    bottom: -1px;
    background-image: linear-gradient(to top, #00607a 30%, #002029 90%);
}

.first-wave {
    z-index: 3;
    opacity: 0.5;
}

.second-wave {
    z-index: 2;
    opacity: 0.75;
}

.third-wave {
    z-index: 1;
}

.wave-image {
    width: 200%;
    height: 100%;
    position: absolute;
    left: 0;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.first-image {
    background-size: 50% 100px;
}

.animation-wave .first-image {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.second-image {
    background-size: 50% 120px;
}

.animation-wave .second-image {
    animation: waves 10s linear infinite;
}

.third-image {
    background-size: 50% 140px;
}

.animation-wave .third-image {
    animation: waves 15s linear infinite;
}

@keyframes waves {
    0% {
        transform: translateX(0) scaleY(1);
    }

    50% {
        transform: translateX(-25%) scaleY(0.55);
    }

    100% {
        transform: translateX(-50%) scaleY(1);
    }
}



/* .header {
    position: fixed;
    inset: 50px auto auto 50px;
    z-index: 9999;
}

.header.on {
    color: #fff;
} */



.slogan {
    font-size: 14px;
    margin: 300px 0 0 0;
    font-family: 'Barlow', sans-serif;
    z-index: 9999;
}

.f_inner {
    display: flex;
    gap: 100px;
    width: 1600px;
    margin: 0 auto;
}

.f_inner>* {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 1650px;
    height: 800px;
}

svg {
    font-family: 'Russo One', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
}

svg text {
    text-transform: uppercase;
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #365fa0;
    font-size: 120px;
}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 20, 0);
        stroke: #a6c1ee;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(72, 138, 20, 0);
        stroke: #a6c1ee;
    }

    80% {
        fill: rgba(72, 138, 20, 0);
        stroke: #a6c1ee;
        stroke-width: 3;
    }

    100% {
        fill: #a6c1ee;
        stroke: rgba(54, 95, 160, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

.inner {
    width: 1650px;
    margin: 0 auto;
    height: 800px;
    box-shadow: 0 0 10px #999;
}

.inner::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    clip-path: polygon(0 0, 43% 0, 50% 100%, 0% 100%);
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    z-index: -999;
}


.b_left {
    width: 1600px;
    height: 800px;
    margin: 0 auto;
}

.b_left .mokup img {
    position: absolute;
    top: 50%;
    left: 150px;
    transform: translate(0, -50%);
    width: 900px;

}

.b_left .homepage {
    position: absolute;
    top: 235px;
    left: 240px;
    width: 710px;
    height: 470px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.b_left .homepage .case {
    transform: translate(0, 0);
}

.b_left .homepage:hover .case {
    transform: translate(0, calc(-100% + 500px));
    transition: 5s;
}


.b_right {
    position: absolute;
    inset: 35% auto auto 60%;
    width: 100%;
}

.b_right .desc h3 {
    position: relative;
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 40px 0;
    z-index: 9999;
    color: #fff;
}

.b_right .desc h3::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    border: 35px solid #000988;
    border-right: 35px solid transparent;
    height: 0;
    width: 230px;
    z-index: -999;
}

.b_right .desc p {
    font-family: 'TheJamsil5Bold';
    font-size: 27px;
    margin: 0 0 50px 0;
}

.b_right .desc dt {
    font-family: 'TheJamsil5Bold';
    float: left;
    margin: 0 50px 20px 0;
    width: 100px;
    font-size: 19px;
    font-weight: 700;
}

.b_right .desc dd {
    font-size: 19px;
    margin: 0 0 20px 0;
    font-weight: 300;
}


.b_right button {
    border: 1px solid #111;
    background: transparent;
    padding: 10px 20px;
    margin: 30px 0 0 0;
    cursor: pointer;
}

.b_right button:hover {
    background: #000988;
    color: #fff;
    transition: 0.5s;
}





.section .content {
    transform: translate(-300px, 0);
    opacity: 0;
    height: 600px;
    overflow: hidden;
    align-items: flex-start;
}

.section .content .case {
    transform: translate(0, 0);
}

.section .content:hover .case {
    transform: translate(0, calc(-100% + 600px));
    transition: 5s;
}




.cover {
    position: fixed;
    inset: 0 0 auto 0;
    background: #333;
    color: #ddd;
    z-index: 998;

    display: flex;
    justify-content: center;
    align-items: center;

    /* display: none; */
    height: 0;
    overflow: hidden;
    transition: 1s;
}

.cover.on {
    height: 100vh;
}

.cover ul {
    height: 100vh;
}