.slogan {
    color: #f9f9f9;
    font-size: 14px;
    margin: 300px 0 0 0;
    font-family: 'Barlow', sans-serif;
    z-index: 9999;
}

.f_inner {
    display: flex;
    gap: 100px;
    width: 1600px;
    margin: 0 auto;
}

.f_inner>* {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 1650px;
    height: 800px;
}



.container {
    position: relative;
    width: 1650px;
    margin: 0 auto;
    height: 700px;
}

.container::after {
    content: "";
    position: absolute;
    top: 46%;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    z-index: -2;
}

.container .b_left .mokup img {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translate(0, -50%);
    width: 900px;


}

.container .b_left .homepage {
    position: absolute;
    top: 100px;
    left: 190px;
    width: 710px;
    height: 470px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.container .b_left .homepage .case {
    transform: translate(0, 0);
}

.container .b_left .homepage:hover .case {
    transform: translate(0, calc(-100% + 467px));
    transition: 5s;
}


.container .b_right {
    color: #f9f9f9;
    position: absolute;
    inset: 28% auto auto 65%;
    width: 100%;
}

.container .b_right .desc {
    position: relative;
}



.container .b_right .desc strong {
    font-family: 'Righteous', cursive;

    position: absolute;
    top: -60px;
    right: 1040px;
    font-size: 500px;
    font-weight: 700;
    -webkit-text-stroke: 1px #fff;
    color: rgba(255, 255, 255, 0.1);
    z-index: 99999;
}

/* .container .b_right .desc .num_one::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: -15px;
    left: -3px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px #222;
    z-index: -1;
}

.container .b_right .desc strong::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: -15px;
    left: 8px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px #222;
    z-index: -1;
} */


.container .b_right .desc h3 {
    position: relative;
    font-size: 55px;
    font-weight: 700;
    margin: 0 0 30px 0;
    z-index: 9999;
    color: #f9f9f9;
    text-shadow: 0 0 10px #444;
}

.container .b_right .desc h3::before {
    content: "";
    position: absolute;
    bottom: -10px;
    background: rgba(255, 255, 255, 0.1);
    z-index: -9;
    width: 320px;
    height: 20px;
}

/* .container .b_right .desc .site_01::after {
    content: "";
    position: absolute;
    top: -30px;
    left: -138px;
    border: 10px solid #000988;
    border-right: 10px solid transparent;
    height: 0;
    width: 15px;
    z-index: -999;
}

.container .b_right .desc .site_02::after {
    content: "";
    position: absolute;
    top: -30px;
    left: -138px;
    border: 10px solid #d12f3a;
    border-right: 10px solid transparent;
    height: 0;
    width: 20px;
    z-index: -999;
}

.container .b_right .desc .site_03::after {
    content: "";
    position: absolute;
    top: -30px;
    left: -138px;
    border: 10px solid #8c6239;
    border-right: 10px solid transparent;
    height: 0;
    width: 20px;
    z-index: -999;
}

.container .b_right .desc .site_04::after {
    content: "";
    position: absolute;
    top: -30px;
    left: -138px;
    border: 10px solid #999;
    border-right: 10px solid transparent;
    height: 0;
    width: 20px;
    z-index: -999;
}

.container .b_right .desc .site_05::after {
    content: "";
    position: absolute;
    top: -30px;
    left: -138px;
    border: 10px solid #e6cb01;
    border-right: 10px solid transparent;
    height: 0;
    width: 20px;
    z-index: -999;
} */

.container .b_right .desc p {
    font-family: 'SUIT-Regular';
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 50px 0;
    line-height: 1.3;
}

.container .b_right .desc dt {
    font-family: 'TheJamsil5Bold';
    float: left;
    margin: 0 0 12px 0;
    width: 100px;
    font-size: 14px;
    font-weight: 700;
}

.container .b_right .desc dd {
    font-size: 14px;
    margin: 0 0 12px 0;
    font-weight: 300;
}


.container .b_right button {
    color: #f9f9f9;
    border: 1px solid #f9f9f9;
    background: transparent;
    padding: 10px 20px;
    margin: 30px 0 0 0;
    cursor: pointer;
    font-size: 15px;
}

.container .b_right button:hover {
    background: url(../img/raster@2x.png) rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}




/* */

.sec02 strong {
    font-family: 'Russo One', sans-serif;
    position: absolute;
    top: 60px;
    left: 165px;
    font-size: 100px;
    font-weight: 700;
    color: #f9f9f9;
    text-shadow: 0 0 10px #111;
    border-bottom: 1px solid #fff;
}

.f_inner {
    display: flex;
    gap: 30px;
}

.f_inner figure .case {
    position: relative;
    overflow: hidden;
    flex: 1;
    height: 600px;
    width: 400px;
}



.f_inner figure .case img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;

}

.f_inner figure:hover .case::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    z-index: 9999;

    border-radius: 10px;
}

.f_inner figure .over01 {
    position: absolute;
    top: 28%;
    left: 260px;
    font-size: 20px;
    color: #fff;
    visibility: hidden;

    font-family: 'SUIT-Regular';
    border: 1px solid #f9f9f9;
    padding: 100px 200px;
}

.f_inner figure .over02 {
    position: absolute;
    top: 28%;
    right: 250px;
    font-size: 20px;
    color: #fff;
    visibility: hidden;

    font-family: 'SUIT-Regular';
    border: 1px solid #f9f9f9;
    padding: 150px 200px;
}

.f_inner figure:hover .over01 {
    visibility: visible;
    z-index: 9999;
}

.f_inner figure:hover .over02 {
    visibility: visible;
    z-index: 9999;
}

.f_inner figure .itm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f_inner figure:hover .itm a {
    border: 1px solid #f9f9f9;
    color: #f9f9f9;
    padding: 10px 20px;
    outline: none;
    background: transparent;
    margin: 30px 0 0 0;
}

.f_inner figure:hover .itm a:hover {
    background: url(../img/raster@2x.png) rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}

.f_inner figure:hover .itm p {
    font-size: 30px;
    margin: 0 0 30px 0;
}

.f_inner figure:hover .itm dt {

    font-size: 17px;
    font-weight: 700;
    float: left;
    margin: 0 0 10px 0;
    width: 100px;
}

.f_inner figure:hover .itm dd {
    font-size: 17px;
    font-weight: 300;
    margin: 0 0 10px 0;
    float: left;
}


/*  */
.sec03 .inner {
    font-family: 'SUIT-Regular';
    display: flex;
}

.sec03 .inner>* {
    flex: 1;
}

.sec03 .right_box {
    color: #f9f9f9;
    line-height: 1.3;
}

.sec03 .right_box div {
    margin: 0 0 40px 0;
}

.sec03 .right_box .desc strong {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 0 10px 0;
}

.sec03 .right_box .desc strong::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 1px;
    background: #f9f9f9;
}

.right_box .desc .contact {
    margin: 0 0 20px 0;
}

.right_box .desc .contact strong {
    position: relative;
    display: inline-block;
    margin: 0 20px 0 0;
}

.right_box .desc .contact strong::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    background: #999;
    border-radius: 50%;
    z-index: -2;

}

.right_box .desc .contact span {
    margin: 0 20px 0 0;
}

/*  */

.cover {
    position: fixed;
    inset: 0 0 auto 0;
    background: #999;
    color: #ddd;
    z-index: 998;

    display: flex;
    justify-content: center;
    align-items: center;

    /* display: none; */
    height: 0;
    overflow: hidden;
    transition: 1s;
    font-family: 'SUIT-Regular';
}

.cover.on {
    height: 100vh;
}

.cover ul {
    height: 100vh;
    margin-top: 30%;
    /* transform: translate(140%, 20%); */
}

.cover ul li {
    list-style: square;
    font-size: 70px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.cover ul li:hover {
    color: #002029;
    transition: 1s;
}