/* css animation */
.waveDiv {
    position: fixed;
    overflow: hidden;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -999;
}

.wave-content-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    inset: 0 0 0 0;
    overflow: hidden;
    bottom: -1px;
    background-image: linear-gradient(to top, #00607a 30%, #002029 90%);
}

.first-wave {
    z-index: 3;
    opacity: 0.5;
}

.second-wave {
    z-index: 2;
    opacity: 0.75;
}

.third-wave {
    z-index: 1;
}

.wave-image {
    width: 200%;
    height: 100%;
    position: fixed;
    left: 0;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.first-image {
    background-size: 50% 100px;
}

.animation-wave .first-image {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.second-image {
    background-size: 50% 120px;
}

.animation-wave .second-image {
    animation: waves 10s linear infinite;
}

.third-image {
    background-size: 50% 140px;
}

.animation-wave .third-image {
    animation: waves 15s linear infinite;
}

@keyframes waves {
    0% {
        transform: translateX(0) scaleY(1);
    }

    50% {
        transform: translateX(-25%) scaleY(0.55);
    }

    100% {
        transform: translateX(-50%) scaleY(1);
    }
}


svg {
    font-family: 'Russo One', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
}

svg text {
    text-transform: uppercase;
    animation: stroke 5s forwards alternate;
    stroke-width: 2;
    stroke: #365fa0;
    font-size: 120px;
}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 20, 0);
        stroke: #a6c1ee;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(72, 138, 20, 0);
        stroke: #a6c1ee;
    }

    80% {
        fill: rgba(72, 138, 20, 0);
        stroke: #f9f9f9;
        stroke-width: 3;
    }

    100% {
        fill: #fff;
        stroke: rgba(54, 95, 160, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

/* ë */

.slogan {
    color: #f9f9f9;
    font-size: 14px;
    margin: 300px 0 0 0;
    font-family: 'Barlow', sans-serif;
    z-index: 9999;
}

.f_inner {
    display: flex;
    gap: 100px;
    width: 1600px;
    margin: 0 auto;
}

.f_inner>* {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 1650px;
    height: 800px;
}



.container {
    position: relative;
    width: 1650px;
    margin: 0 auto;
    height: 700px;
}

.container::after {
    content: "";
    position: absolute;
    top: 48%;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    z-index: -2;
}

.container .b_left .mokup img {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translate(0, -50%);
    width: 900px;

}

.container .b_left .homepage {
    position: absolute;
    top: 100px;
    left: 190px;
    width: 710px;
    height: 470px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.container .b_left .homepage .case {
    transform: translate(0, 0);
}

.container .b_left .homepage:hover .case {
    transform: translate(0, calc(-100% + 467px));
    transition: 5s;
}


.container .b_right {
    color: #f9f9f9;
    position: absolute;
    inset: 30% auto auto 65%;
    width: 100%;
}

.container .b_right .desc {
    position: relative;
}



.container .b_right .desc strong {
    font-family: 'Righteous', cursive;

    position: absolute;
    top: -145px;
    left: -50px;
    font-size: 80px;
    font-weight: 700;
    text-shadow: 0 0 10px #333;
    z-index: 99999;
}

.container .b_right .desc .num_one::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: -15px;
    left: -3px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px #222;
    z-index: -1;
}

.container .b_right .desc strong::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: -15px;
    left: 8px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px #222;
    z-index: -1;
}


.container .b_right .desc h3 {
    position: relative;
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 40px 0;
    z-index: 9999;
    color: #f9f9f9;
    text-shadow: 0 0 10px #444;
}


.container .b_right .desc .site_01::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    border: 35px solid #000988;
    border-right: 35px solid transparent;
    height: 0;
    width: 230px;
    z-index: -999;
}

.container .b_right .desc .site_02::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    border: 35px solid #d12f3a;
    border-right: 35px solid transparent;
    height: 0;
    width: 240px;
    z-index: -999;
}

.container .b_right .desc .site_03::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    border: 35px solid #8c6239;
    border-right: 35px solid transparent;
    height: 0;
    width: 210px;
    z-index: -999;
}

.container .b_right .desc .site_04::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    border: 35px solid #999;
    border-right: 35px solid transparent;
    height: 0;
    width: 120px;
    z-index: -999;
}

.container .b_right .desc .site_05::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    border: 35px solid #e6cb01;
    border-right: 35px solid transparent;
    height: 0;
    width: 140px;
    z-index: -999;
}

.container .b_right .desc p {
    font-family: 'PuradakGentleGothicR';
    font-size: 25px;
    font-weight: 300;
    margin: 0 0 50px 0;
}

.container .b_right .desc dt {
    font-family: 'TheJamsil5Bold';
    float: left;
    margin: 0 50px 20px 0;
    width: 100px;
    font-size: 17px;
    font-weight: 700;
}

.container .b_right .desc dd {
    font-size: 19px;
    margin: 0 0 20px 0;
    font-weight: 300;
}


.container .b_right button {
    color: #f9f9f9;
    border: 1px solid #f9f9f9;
    background: transparent;
    padding: 10px 20px;
    margin: 30px 0 0 0;
    cursor: pointer;
}

.container .b_right button:hover {
    background: url(../img/raster@2x.png) rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}




/* */

.sec02 strong {
    font-family: 'Russo One', sans-serif;
    position: absolute;
    top: 70px;
    left: 165px;
    font-size: 100px;
    font-weight: 700;
    color: #f9f9f9;
    text-shadow: 0 0 10px #111;
    border-bottom: 1px solid #fff;
}

.f_inner {
    display: flex;
    gap: 30px;
}

.f_inner>* {
    flex: 1;
    height: 600px;
    width: 400px;
}

.f_inner .box {
    position: relative;

}

.f_inner .box img {
    height: 100%;
    object-fit: cover;

    border-radius: 10px;
}

.f_inner .box:hover::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    z-index: 9999;
    border-radius: 10px;
}

.sec03 p {
    font-family: 'PuradakGentleGothicR';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #fff;
}

.cover {
    position: fixed;
    inset: 0 0 auto 0;
    background: #333;
    color: #ddd;
    z-index: 998;

    display: flex;
    justify-content: center;
    align-items: center;

    /* display: none; */
    height: 0;
    overflow: hidden;
    transition: 1s;
}

.cover.on {
    height: 100vh;
}

.cover ul {
    height: 100vh;
}